.arrow-down {
  font-size: 2.5em;
}

.fas {
  color: white;
}

.social-icons i {
  padding: 20px;
}

.close-btn {
  position: absolute;
  right: 34px;
  top: 60px;
}

.tabOne {
  background-image: url(../img/global-warming/global-warming-one.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.tabTwo {
  background-image: url(../img/pollution/pollution-one.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.tabThree {
  background-image: url(../img/quiz/quiz-one.jpg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

#navbar.scrolled {
  background-color: #000 !important;
  transition: background-color 500ms linear;
}