* {
  scroll-behavior: smooth;
}

/* index.html */

.arrow-down {
  font-size: 2.5em;
}

.fas {
  color: white;
}

.social-icons i {
  padding: 20px;
}

.close-btn {
  position: absolute;
  right: 34px;
  top: 60px;
}

/* Global Warming tab */

.tabOne {
  background-image: url(../img/global-warming/global-warming-one.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  align-items: center;

  position: relative;
  width: 100%;
  margin: auto;
  overflow: hidden;
}

.tabOne .content-overlay {
  background: rgba(0,0,0,0.7);
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.tabOne:hover .content-overlay{
  opacity: 1;
}

.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.tabOne:hover .content-details{
  top: 50%;
  left: 50%;
  opacity: 1;
}

.content-details h3{
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

.content-details p{
  color: #fff;
  font-size: 0.8em;
}

.globalWarming-header {
  margin: 0 0 0 50px;
}

/* Pollution tab */

.tabTwo {
  background-image: url(../img/pollution/pollution-one.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  justify-content: flex-end;
  align-items: center;

  position: relative;
  width: 100%;
  margin: auto;
  overflow: hidden;
}

.tabTwo .content-overlay {
  background: rgba(0,0,0,0.7);
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.tabTwo:hover .content-overlay{
  opacity: 1;
}

.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.tabTwo:hover .content-details{
  top: 50%;
  left: 50%;
  opacity: 1;
}

.content-details h3{
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

.content-details p{
  color: #fff;
  font-size: 0.8em;
}

.pollution-header {
  margin: 0 50px 0 0;
}

/* Quiz tab */

.tabThree {
  background-image: url(../img/quiz/quiz-one.jpg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  align-items: center;

  position: relative;
  width: 100%;
  margin: auto;
  overflow: hidden;
}

.tabThree .content-overlay {
  background: rgba(0,0,0,0.7);
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.tabThree:hover .content-overlay{
  opacity: 1;
}

.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.tabThree:hover .content-details{
  top: 50%;
  left: 50%;
  opacity: 1;
}

.content-details h3{
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

.content-details p{
  color: #fff;
  font-size: 0.8em;
}

.quiz-header {
  margin: 0 0 0 50px;
}

#navbar.scrolled {
  background-color: #000 !important;
  transition: background-color 500ms linear;
}

.nav-link:hover {
  text-decoration: underline;
}

.social-icons a {
  color: white;
}

/* global-warming.html */

.page-holder {
  min-height: 100vh;
  margin-bottom: 100px;
}

.bg-cover-globalWarming {
  background-size: cover !important;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  background-image: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.3)), url(../img/global-warming/global-warming-two.jpg);
}

.home-link {
  color: white;
  transition: 0.3s;
}

.home-link:hover {
  font-weight: bold;
  text-decoration: underline;
  color: white;
}

/* pollution.html */

.page-holder {
  min-height: 100vh;
  margin-bottom: 100px;
}

.bg-cover-pollution {
  background-size: cover !important;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  background-image: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.3)), url(../img/pollution/pollution-two.jpg);
}

.home-link {
  color: white;
  transition: 0.3s;
}

.home-link:hover {
  font-weight: bold;
  text-decoration: underline;
  color: white;
}

/* quiz.html */

.page-holder {
  min-height: 100vh;
  margin-bottom: 100px;
}

.bg-cover-quiz {
  background-size: cover !important;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  background-image: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.3)), url(../img/quiz/quiz-two.jpg);
}

.home-link {
  color: white;
  transition: 0.3s;
}

.home-link:hover {
  font-weight: bold;
  text-decoration: underline;
  color: white;
}

/* STUFFFFFFFFFFFFFFFFFFFFFFFF */
/*========================================================
          Sitewide Styles
==========================================================*/
/*multiple selector*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-family: 'Lato', sans-serif;
  color: #b3b3b3;
  background-color: #31a2ac;
  text-align: center;
  margin-top: 0;
}

/*========================================================
          Quiz Section
========================================================*/
/*styling quiz area*/
.main {
  background-color: white;
  margin: 0 auto;
  width: 60%;
  margin-top: 30px;
  padding: 30px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

/*Editing the number of questions*/
span {
  float: left;
}

/*Editing the number of questions*/
span {
  float: left;
}

/*format text*/
p {
  padding: 10px 10px 0;
}

/*Form area width*/
.form-area, ul {
  margin: 20px auto;
  max-width: 550px;
}

/*formatting answers*/
li {
  list-style-type: none;
  text-align: left;
  background-color: transparent;
  margin: 10px 5px;
  padding: 5px 10px;
  border: 1px solid lightgray;
  font-weight: normal;
}

li:hover {
  background: #ECEEF0;
}

/*Change effect of question when the questions is selected*/
.selected, .selected:hover {
  background: #FFDEAD;
}

/*change correct answer background*/
.correct, .correct:hover {
  background: #9ACD32;
  color: white;
}

/*change wrong answer background*/
.wrong, .wrong:hover {
  background: #db3c3c;
  color: white;
}

/*========================================================
        Submit Button
========================================================*/
.main button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  width: 20%;
  border: none;
  padding: 15px;
  color: #FFFFFF;
}

.submit:hover, .submit:active, .submit:focus {
  background: #43A047;
}

.submit {
  background: #4CAF50;
  min-width: 120px;
}

/*next question button*/
.next {
  background: #fa994a;
  min-width: 120px;
}

.next:hover, .next:active, .next:focus {
  background: #e38a42;
}


/*========================================================
        Results
========================================================*/
.circle{
  position: relative;
  margin: 0 auto;
  width: 200px;
  height: 200px;
  background: #bdc3c7;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  overflow: hidden;
}

.fill{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 80%;
  background: #31a2ac;
}

h3 {
  position: absolute;
  width: 100%;
  top: 60px;
  text-align: center;
  font-family: Arial, sans-serif;
  color: #fff;
  font-size: 40pt;
  line-height: 0;
  font-weight: normal;
}

.circle p {
  margin: 400px;
}

/*========================================================
        Confeeti Effect
========================================================*/
canvas{
  position:absolute;
	left:0;
	top:0;
	z-index:0;
	border:0px solid #000;
}
